@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #65d093;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #7d93e1;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Courier New', Courier, monospace;
}

h1.hbd-anindya {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 5em;
  font-weight: 900;
  user-select: none;
  line-height: 1.5em;
  z-index: 999;
  text-align: center;
}